
div, body, ul, p{
	margin:0;
	padding:0;
}

body{
	background:white;
}

#wrapper{
	max-width:900px;
	margin:0 auto;
}

#container{
	
}

.subTitle{
	margin-bottom:10px;
	font-size:14px;
	font-weight:bold;
}

.paddingLR10{
	padding-left:10px;
	padding-right:10px;
}

.paddingTop10{
	padding-top:10px;
}

.marginLR10{
	margin-left:10px;
	margin-right:10px;
}

.marginB10{
	margin-bottom:10px;
}

.marginB20{
	margin-bottom:20px;
}

.upperLine{
	border-top:1px solid #d9d9d9;
}

.inputContainer{
	border: 1px solid #bfbfbf;
}

.inputTxt{
	line-height: 25px;
    border: 0 none;
    width:90%;
    padding:3px;
}

#cafeDescInput{
	width:90%;
}

li{ 
	list-style:none;
}

.titleDiv{
	background:#7bafe3;;
	color:white;
	height:50px;
	text-align:center;
	width: 100%;
}


.title{
	font-weight:bold;
	font-size:20px;
	vertical-align:middle;
	line-height:50px;
}

#locationDiv{
	font-size:14px;
	font-weight:bold;
	color:#af1010;
}

.wideBtn{
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight:bold;
    text-align: center;
    color: white;
    line-height: 37px;
    margin-bottom:10px;
}

.whiteBG{
	color:black;
	border:1px solid #a6b6e4;
}

.btnBG{
	color:black;
	border:1px solid #a6b6e4;
	background:#e1e9f8;
}

.darkBG{
	background: #5b6579;
}

.blueBG{
	background: #5b8ff0;
}

.redBG{
	background: #f0705b;
}

#manageBtns li{
	float:left;
}

#iconDiv{
	height:120px;
	text-align:center;
}

#iconBtnDiv{
	overflow:auto;
}

#imgCafeIcon{
	width:100px;
	height:100px;
	border:1px solid #d9d9d9;	
}

#mainImageDiv{
	clear:both;
	margin-bottom:10px;
	border:1px solid #d9d9d9;	
}

#mainImageBtnDiv{
	overflow:auto;
}

.splitBtn{
	width:50%;
	float:left;
}

#btnUploadMainImg{
	margin-right:5px;	
}


#emptyDiv{
	height:100px;
	text-align:center;
	font-size:15px;
	line-height:100px;
}


#imgMainImage{
	width:100%;
	height:100px;
	display:none;
}

#btnManageBoard{
	clear:both;
}

/* 모달 */
.white_content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}
.white_content:target {
    opacity:1;
    pointer-events: auto;
}
.white_content > div {
	position: absolute;
	top: 10%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	overflow: auto;	
}
/* 모달 */