
#wrapper{
	max-width:900px;
	margin:0 auto;
}

#searchCafeDiv{
	border:1px solid #d9d9d9;
	color:gray;
	padding:5px;
	font-size:15px;
	line-height:25px;
	margin-bottom:20px;
}

.btn1{
	margin-top:15px;
}

span{ padding:5px; }

.destination {
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #5f98f1;
    background: white;
    line-height: 40px;
    color: #5f98f1;
    text-align: center;
}

.slide_lst {
	margin:0;
	padding:0;
	display:block;
	overflow:hidden;
	list-style:none;
}

.cafeItem {
	float: left;
    height: 135px;
    width: 32%;
    text-align:center;
}

li img{
	border-radius: 10px;
}

.slide_lst{
	margin-top:10px;
}

.slide_lst2{
	
	
}


.desc{
	margin-top:5px;
	text-align:center;
	overflow:hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding-left:10px;
    padding-right:10px;
}

.date{
	border:1px solid gray;
	border-radius: 5px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	font-size:12px;
	font-weight:bold;
	float:left;
}

.postTitle{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
    text-overflow: ellipsis;
	text-align:left;
	margin-left:70px;
	font-size:12px;
}

.cafeName{
	position:absolute;
	margin-left:70px;
	font-size:12px;
	font-weight:bold;
	bottom:10px;
}

.regionName{
	position:absolute;
	font-size:12px;
	font-weight:bold;
	bottom:10px;
	right:10px
}

.sectionTitle{
	padding-left:10px;
}

/* 공통 */


/* 공통 */

/* 카페 리스트 */
#cafeList{
	margin-top:10px;
}

#cafeList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#cafeList ul li {
    clear: both;
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
    overflow: auto;
}

#cafeList ul li .cafeImage {
    float: left;
}

#cafeList ul li .cafeInfo {
    margin-left: 70px;
}

#cafeList ul li .cafeInfo .cafeTitle {
    margin: 5px 0px;
}

#cafeList ul li .cafeInfo .cafeDesc {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 5px 0px;
    font-size: 14px;
    color: gray;
}

#cafeList ul li .cafeInfo .regionInfo {
    float: right;
    font-size: 12px;
}

#cafeList ul li .cafeInfo .memberInfo {
    margin: 5px 0px;
    font-size: 12px;
}

/* 카페 리스트 */

/* 정모 리스트 */
#publicMeetingList{
	margin-top:10px;
	margin-bottom:10px;
	overflow:auto;
}

#publicMeetingList .meetingList{
	clear:both;
	list-style:none;
	margin:10px 0px 0px 0px;
	padding:0;
	border-bottom:1px solid #d9d9d9;
}

#publicMeetingList .meetingList li{
	clear:both;
	border-top:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	padding:10px;
	line-height:25px;
	overflow:auto;
}

#publicMeetingList .meetingList li #title{
	font-size:15px;
	font-weight:bold;
	color:#5b58d7;
	margin-bottom:5px;
}

#publicMeetingList .meetingList li #meetingDate{
	float:right;
	font-size:14px;
	font-weight:bold;
	color:red;
}

#publicMeetingList .meetingList li #memberCount{
	font-size:13px;
}

#publicMeetingList .meetingList li #cafeName{
	float:right;
	font-size:13px;
}

#publicMeetingList .meetingList li #location{
	font-size:13px;
}

/* 정모 리스트 */
