@CHARSET "utf-8";

.btnRegister{
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:30px;
	background:#00d64f;
	line-height:50px;
	color:white;
	text-align:center;
}

.btn{
	margin:10px;
	border-radius: 10px;
    border: 1px solid #5f98f1;
    background:white;
	line-height:40px;
	color:#5f98f1;
	text-align:center;
}