body{
	background:white;
	margin:0;
	font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
}

#favoriteCafeRegionDiv{
	clear:both;
	text-align:center;
	overflow:auto;
}

#favoriteCafeRegionDiv p{
	margin:50px;
}


#favoriteCafeRegionDiv #linkDiv{
	float:right;
	margin:10px 10px 0px 0px;
	font-size:15px;
	font-weight:bold;
	color:blue;
	border-bottom: 1px solid blue;
	padding: 1px 5px 2px;
	line-height:20px;
}

#favoriteCafeRegionDiv #subTitle{
	font-size:16px;
	font-weight:bold;
	color:#f44a4a;
	text-align:left;
	margin:10px 0px 10px 10px;
	line-height:20px;
}

#favoriteCafeRegionDiv ul{
	list-style:none;
	margin:0;
	padding:0;
	margin:10px 10px 10px 10px;
	border-top:1px solid #d9d9d9;
}

.favoriteCafeRegion li{
	float:left;
	font-size:13px;
	font-weight:bold;
	height:40px;
	text-align:center;
	border-bottom:1px solid #d9d9d9;
	width:46%;
	word-wrap:normal;
	padding:5px;
}

.favoriteCafeRegion li:nth-child(1n){
	border-left:1px solid #d9d9d9;
}

.favoriteCafeRegion li:nth-child(2n){
	border-right:1px solid #d9d9d9;
}

.favoriteCafeRegion .selected{
	background:#cb3333;;
	color:white;
}

#favoriteRegionCafeListDiv{
	clear:both;
	overflow:auto;
	margin:20px 10px 10px 10px;
}

#favoriteRegionCafeListDiv .option{
	float:right;
	font-size:13px;
	font-weight:bold;
	color:#575652;
	padding: 0px 5px;
	line-height:20px;
	background:#e9e3e3;
	border:1px solid #726868;
	line-height:25px;
}

#favoriteRegionCafeListDiv #optionViewByList{
	display:none;	
}

#favoriteRegionCafeListDiv #subTitle{
	margin-bottom:10px;
	font-size:15px;
	font-weight:bold;
	line-height:25px;
}

#map{
	height:200px;
	margin:0px 0px 10px 0px;
	display:none;
}
