@CHARSET "utf-8";

dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    border-top: 1px solid #ccc;
}

dd {
    display: block;
    position: relative;
    height: 80px;
    line-height: 25px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding:10px;
}

a:link, a:hover, a:active {
    text-decoration: none;
}

.slide_lst {
}

.slide_lst .inp_box {
    padding-left:10px;
    padding-right:10px;
}

table, td {
	margin: 0px;
}

#wrapper {
	margin-top: 15px;
	padding: 0px;
	padding-bottom: 20px;
}

.region tr {
	height: 40px;
}

.region td {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	font-size: 14px;
}

.countItem {
	clear: both;
	margin-top: 10px;
}

#divCountPerResion {
	margin-top: 10px
}

.userProfile{
	float:left;
}

.userProfile img{
	border-radius: 10px;
}

.postDesc {
	margin-left:90px;
	height:60px;
	font-size:12px;
}

.postDesc div{
	font-size:12px;
}

.postDesc .tit {
    color: #666;
}