<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings-->
	<mappers>
		<mapper resource="sql-mapper.xml"/>
		<mapper resource="sql-nearhere-taxi.xml"/>
		<mapper resource="sql-nearhere-taxi-admin.xml"/>
		<mapper resource="sql-nearhere-taxi-background.xml"/>
		<mapper resource="sql-nearhere-location.xml"/>
		<mapper resource="sql-nearhere-friend.xml"/>
		<mapper resource="sql-nearhere-user.xml"/>
		<mapper resource="sql-nearhere-post.xml"/>
		<mapper resource="sql-nearhere-news.xml"/>
		<mapper resource="sql-nearhere-travel.xml"/>
		<mapper resource="sql-nearhere-region.xml"/>
		<mapper resource="sql-nearhere-cafe.xml"/>
		<mapper resource="sql-nearhere-cafe-board.xml"/>
		<mapper resource="sql-nearhere-cafe-location.xml"/>
		<mapper resource="sql-nearhere-cafe-background.xml"/>
	</mappers>
</configuration>